In [4]:
# Import our dependencies
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import tensorflow as tf
import plotly.express as px
import hvplot.pandas

import warnings
warnings.filterwarnings('ignore')

In [5]:
file_path = "../instacart-data/order_products__prior.csv"
orders_prior_df = pd.read_csv(file_path)
orders_prior_df.head()

# Read the cleansed Orders dataset
file_path = "OrdersPrior.csv"
allorders_df = pd.read_csv(file_path)
allorders_df.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [6]:
allorders_df.drop(columns=["Unnamed: 0"], inplace=True)
allorders_df

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3214869,2558525,206209,prior,9,4,15,22.0
3214870,2266710,206209,prior,10,5,18,29.0
3214871,1854736,206209,prior,11,4,10,30.0
3214872,626363,206209,prior,12,1,12,18.0
3214873,2977660,206209,prior,13,1,12,7.0

In [11]:
def resample(df:object, sample_size:int)->data:
    data = df.sample(sample_size)
    return data

In [13]:
new_df = resample(orders_prior_df, 2250000)

In [8]:
new_df.to_csv("Order_prior_sampled.csv", index=None)